<%= @cocktail.name %>
<br>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.association :ingredients %>
  <%= f.button :submit %>
<% end %>

<br>

<p><%= link_to 'delete', cocktail_path(@cocktail), method: :delete %></p>
<br>

<%= link_to "Go back", cocktails_path %>
